In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/akshay-99h/BVP-RA-Training/main/Assignment%201/Task/insurance_data.csv")

In [3]:
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [4]:
df.describe()

             age  affordibility  bought_insurance
count  28.000000      28.000000         28.000000
mean   39.892857       0.678571          0.500000
std    15.497525       0.475595          0.509175
min    18.000000       0.000000          0.000000
25%    25.000000       0.000000          0.000000
50%    45.500000       1.000000          0.500000
75%    54.250000       1.000000          1.000000
max    62.000000       1.000000          1.000000

In [5]:
X = df.drop("bought_insurance", axis=1).to_numpy()
y = (df.bought_insurance).to_numpy().reshape(-1,1)

In [6]:
def activation(x):
  return 1/(1+np.exp(-x))
def activation_der(x):
  return activation(x)*(1-activation(x))

In [7]:
np.random.seed(36)
weights=np.random.rand(2,1)
bias=np.random.rand(1)
lr=0.001

In [8]:
for epoch in range(30000):
    features=X
    label=y
    predicted=activation(np.dot(features,weights)+bias)

    error=predicted-label
    dcost_dpred=error
    dpred_dr=activation_der(predicted)

    x_delta=dcost_dpred*dpred_dr
    weights-=lr*np.dot(features.T,x_delta)
    
    for num in x_delta:
        bias-=lr*num
  

print(error.sum())

0.08391138142700505

In [9]:
# person who is 55 years old and can afford insurance
z = np.array([55,1])
result = activation(np.dot(z,weights)+bias)
print(result)

[0.89075135]

In [10]:
#person who is 45 years old and can't afford insurance
z = np.array([45,0])
result = activation(np.dot(z,weights)+bias)
print(result)

[0.36936432]